@layer components {
  .vi-btn {
    @apply inline-flex items-center justify-center gap-2 whitespace-nowrap;
    @apply rounded-[30px] text-sm font-medium transition-all;
    @apply focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2;
    @apply disabled:pointer-events-none disabled:opacity-50;
    @apply [&_svg]:pointer-events-none [&_svg]:shrink-0;
    @apply w-fit;
    @apply active:opacity-80 active:scale-[0.98];
    transform: translateZ(0);

    &:focus:not(:focus-visible) {
      box-shadow: 0 0 0 1px hsl(var(--border));
    }

    &-logo {
      @apply w-[24px] h-[24px] ml-[10px];
    }

    &-variant {
      &-default {
        @apply bg-primary text-primary-foreground border-2;
        @apply hover:bg-primary/90;
      }

      &-destructive {
        @apply bg-destructive text-destructive-foreground border-2;
        @apply hover:bg-destructive/90;
      }

      &-outline {
        @apply border-2 border-input bg-background;
        @apply hover:bg-accent hover:text-accent-foreground;
      }

      &-secondary {
        @apply bg-secondary text-secondary-foreground border-2;
        @apply hover:bg-secondary/80;
      }

      &-ghost {
        @apply rounded-md hover:bg-accent hover:text-accent-foreground border border-transparent;

        &:focus:not(:focus-visible) {
          box-shadow: none;
        }
      }

      &-link {
        @apply rounded-none text-primary underline-offset-4;
        @apply hover:underline;

        &:focus:not(:focus-visible) {
          box-shadow: none;
        }
      }
    }

    &-size {
      &-default {
        @apply h-10 px-4;
        @apply text-sm font-normal tracking-[1px];
      }

      &-sm {
        @apply h-8 px-3;
        @apply text-xs font-normal tracking-[1px];
      }

      &-lg {
        @apply min-h-[48px] px-[24px] py-[12px];
        @apply text-base font-medium tracking-[1px];
      }

      &-icon {
        @apply h-10 w-10 rounded-md;
      }
    }
  }
}
